{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div >
    <img src="{% static 'images/can.png' %}" alt="Photo" style="height: 100px; width: 150px;" >
    </div>
    <ul>
        <li> Home</li>
        <li>Movies</li>
        <li>Logout</li>
    </ul>
    </header>
   <main style="margin: 30px;">Home Page</main>

</body>
</html>