{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <header>
        <h1>Tollywood</h1>
    </header>
</head>
<body>
    
    <div class="movie">
    <div>
    <img src="{% static 'images/hit3.jpg' %}" alt="Photo">
    <h4>Hit 3</h4>
    </div>
    <div>
    <img src="{% static 'images/robinhood.webp' %}" alt="Photo">
    <h4>Robinhood</h4>
    </div>
    <div>
    <img src="{% static 'images/acharya.jpg' %}" alt="Photo">
    <h4>Acharya</h4>
    </div>
    <div>
    <img src="{% static 'images/bhairavam.webp' %}" alt="Photo">
    <h4>Bhairavam</h4>
    </div>
    <div>
    <img src="{% static 'images/devara.jpg' %}" alt="Photo">
    <h4>Devara</h4>
    </div>
    <div>
    <img src="{% static 'images/mj.jpeg' %}" alt="Photo">
    <h4>Mass Jathara</h4>
    </div>
    <div>
    <img src="{% static 'images/og.jpg' %}" alt="Photo">
    <h4>They call him OG</h4>
    </div>
    <div>
    <img src="{% static 'images/saaho.jpg' %}" alt="Photo">
    <h4>saaho</h4>
    </div>
    <div>
    <img src="{% static 'images/sv.webp' %}" alt="Photo">
    <h4>sankranthiki vasthunam</h4>
    </div>
    <div>
    <img src="{% static 'images/m.jpg' %}" alt="Photo">
    <h4>Aatagadu</h4>
    </div>
    <div>
    <img src="{% static 'images/photo.jpg' %}" alt="Photo">
    <h4>Image Caption</h4>
    </div>
    <div>
    <img src="{% static 'images/photo.jpg' %}" alt="Photo">
    <h4>Image Caption</h4>
    </div>
    </div>
</body>
</html>